* {
    background-color: black;
    color: white;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #585858;
}

#navbar>h1 {
    background-color: #585858;
}

#weatherInfo {
    display: flex;
}

#weatherInfo * {
    font-size: larger;
    border: 0;
    background-color: white;
    color: black;
    outline: 0;
    padding: 10px;
}

#submit {
    box-shadow: none;
    cursor: pointer;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
}

#submit:active {
    transform: scale(0.98);
}

#app {
    display: flex;
    margin: 15px;
}

#container {
    margin: 0 50px;
    line-height: 40px;
}

#sunriseDiv,
#sunsetDiv,
#cloudsDiv,
#windDiv {
    display: flex;
}

#sunriseImage,
#sunsetImage,
#cloudsImage,
#windImage {
    width: 25px;
    height: 25px;
    margin: 7px 4px 0 0;
    border-radius: 200px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 950px;
    border-radius: 15px;
}

#forecast {
    width: 68%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 25px;
}

#forecast>div {
    padding: 30px 50px;
    text-align: center;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
}

#forecast * {
    background-color: #282828;
}

#forecast>div:first-child {
    border-bottom-left-radius: 20px;
}

#forecast>div:last-child {
    border-bottom-right-radius: 20px;
    border-right: 0;
}